<div class="relative bg-stone-900 pb-10">
  <div class="mx-auto max-w-7xl px-4 sm:px-6">
    <div class="flex items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
      <nav class="hidden space-x-10 md:flex justify-center">
        <a routerLink="shows" class="text-base font-medium text-white">TV Shows</a>
        <a routerLink="movies" class="text-base font-medium text-white">Movies</a>
      </nav>
    </div>
  </div>
</div>

<div class="relative bg-stone-900">
  <div class="mx-auto max-w-7xl px-4 sm:px-6">
    <router-outlet></router-outlet>
  </div>
</div>
